<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.okta.oidc.example.test">

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.okta.oidc.example.SampleActivity" />

    <application
        android:label="SampleActivityTest"
        tools:replace="label" />
</manifest>
